# Scraping Twitter data with snscrape

## 0. Set up
**snscrape** is a scraper for social networking services. It currently supports lots of services such as Twitter, Facebook, Instagram, etc. It scrapes things like user profiles, hashtags, or searches and returns the discovered items, e.g. the relevant posts. More information about snscrape can be viewed from its [GitHub](https://github.com/JustAnotherArchivist/snscrape) site.

**Note: you may need to connect the Duke vpn (portal.duke.edu) to finish this lab.**

In [1]:
# install snscrape using pip
# !pip3 install snscrape

In [13]:
# import libraries
import snscrape.modules.twitter as sntwitter
import snscrape.modules.twitter

import pandas as pd
import numpy as np

## 1. Overview

In today's lab, we are going to use snscrape to scrape data from twitter. You will learn to scrape tweets from:
1. text search query
2. a specific user

Snscrape provides many useful attributes available through snscrape Twitter object [(Beck, 2020)](https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af). You might need some of the above attributes when scraping data for your group projects.
* url: Permalink pointing to tweet location
* date: The date on which the tweet was created
* content: The text content of the tweet
* id: The id of the tweet
* user: User object containing the following data: username, displayname, id, description, descriptionUrls, verified, created, followersCount, friendsCount, statusesCount, favouritesCount, listedCount, location, protected, linkUrl, profileImageUrl, profileBannerUrl
* replyCount: The count of replies
* retweetCount: The count of retweets
* likeCount: The count of likes
* quoteCount: The count of users that quoted the tweet and replied
* conversationId: Appears to be the same as tweet id
* lang: Machine generated, assumed language of the tweet
* source: Where tweet was posted from (e.g., iPhone, Andriod, etc.)
* retweetedTweet: The id of the original tweet (if it is a retweet)
* mentionedUsers: The user objects of any mentioned user in the tweet

##  2. Scrape tweets from a text search query

The queried text could be certain keywords and hashtags.

###  Example 1
In this example, we scrape 10 tweets with the **#stopasianhate** hashtag with at least three likes `min_faves:3`. We save the scraped tweets with its posted date `tweet.date`, text content `tweet.content`, poster's location `tweet.user.location`, and the number of received likes `tweet.likeCount` into a dataframe.

In [40]:
# create a list to append twitter data to
tweets_list1 = []

# use TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('Chinese virus since:2022-02-15 until:2022-03-16 min_faves:0').get_items()):
    if i >= 3000:
        break
    tweets_list1.append([tweet.date,  tweet.content, tweet.user.location, tweet.likeCount])

In [41]:
# create a dataframe to view the result
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Date', 'Content', 'User\'s location', '# of likes'])
tweets_df1

,Date,Content,User's location,# of likes
0,2022-03-15 23:37:26+00:00,"Chinese virus cases climb, raise threat of tra...",United States,2
1,2022-03-15 23:29:36+00:00,"Chinese virus cases climb, raise threat of tra...",,0
2,2022-03-15 23:18:26+00:00,VP Snickers hubby has the chinese virus too......,them thar hills Arkansas,1
3,2022-03-15 23:12:37+00:00,@alexotaola @Hola_Otaola @Cubanoselmundo üëâ ¬°RA...,Continente Americano,1
4,2022-03-15 23:10:06+00:00,@TheView @hulu Help her out how? She should ...,,2
...,...,...,...,...
2721,2022-02-15 00:53:17+00:00,"Hey Tweeter, when are you going to apologize f...","St. Charles, MO",10
2722,2022-02-15 00:34:44+00:00,@tanay_mandowara @Si_lv_er I completely believ...,"Punyabhoomi, aka Bharat",1
2723,2022-02-15 00:24:20+00:00,VIOLENT REVOLUTION NOW INEVITABLE #Sad \nüá®üá¶üá®üá¶üá®...,MALAGA Spainüá™üá∏,1
2724,2022-02-15 00:18:35+00:00,@POTUS no more rules on the Chinese virus?-it‚Äô...,,0
2725,2022-02-15 00:17:18+00:00,@PressSec no more rules on the Chinese virus?-...,,0

In [52]:
# len(tweets_df1)
tweets_df1.sort_values(by='# of likes', ascending=False).head(30)

,Date,Content,User's location,# of likes
772,2022-03-08 23:24:50+00:00,"the lesson of ""Chinese Virus"" and people rando...",Unceded Coast Salish Territory,9694
680,2022-03-09 18:02:43+00:00,There is a reason why USA never raised concern...,India,878
2423,2022-02-19 01:46:40+00:00,"Tons of love, respect &amp; regards for your b...",India,746
1387,2022-03-01 14:01:44+00:00,"West was busy sleeping, when China has been s...",India,741
180,2022-03-15 03:06:13+00:00,Most Indians (especially the educated ones) ha...,,621
2171,2022-02-22 04:42:11+00:00,Rana is trying her best to defame India but in...,"‡§ö‡•Å‡§∞‡•Å, ‡§≠‡§æ‡§∞‡§§",621
231,2022-03-14 17:03:55+00:00,Today I had parked my car near an auto stand f...,Tamil Nadu . India,427
2337,2022-02-20 12:02:31+00:00,Has to do this to save his leg. \n2 month's to...,India,381
1613,2022-02-27 06:31:18+00:00,"Why is it OK to denounce all ""Russians"" becaus...","Washington, DC",308
1656,2022-02-26 22:26:37+00:00,#Russophobia\n\nI'm old enough to remember tha...,"Glasgow, Scotland",291
349,2022-03-13 17:04:59+00:00,Chinese Virus vaccine mandates: What foreign e...,"Washington, DC",256
994,2022-03-06 10:26:49+00:00,"Remember: Don't call it ""the Chinese virus."" h...",,249
1936,2022-02-24 13:20:11+00:00,"Nismo ≈°e prav konƒçali vojne s #ChineseVirus, k...","Spielfeld, √ñsterreich",249
2441,2022-02-18 20:50:14+00:00,"@ConsPostingLs ""It's okay to call it the Chine...","Las Vegas, NV",242
1221,2022-03-03 11:55:07+00:00,"But don't call it ""the Chinese virus."" https:/...",,234
2272,2022-02-21 03:15:03+00:00,"Now that the local body elections are over , n...",Tamil Nadu . India,187
1250,2022-03-03 04:10:44+00:00,@chitraSD @ndtvfeed Will sanctions be applied ...,India,174
2428,2022-02-18 23:37:50+00:00,"@ConsPostingLs you know, it is funny how ""chin...",1990,173
1017,2022-03-05 23:47:12+00:00,"A Chinese virus, you wear masks made in China,...","Denver, CO",149
1175,2022-03-04 01:15:29+00:00,"But don't call it ""the Chinese virus"" https://...",,140
2690,2022-02-15 10:12:14+00:00,#chinesevirus\n#chinesevaccine \n#chinaliedpeo...,"New Delhi, India",136
2358,2022-02-20 01:14:57+00:00,It was NEVER about the Chinese virus.,Antarctica,121
1441,2022-02-28 23:26:04+00:00,INBOX: Jewish and AAPI groups in region demand...,Lovely Pacific Northwest,117
74,2022-03-15 14:13:13+00:00,Americans spent the last 2 years debating weth...,,107
1186,2022-03-03 19:03:05+00:00,I‚Äôm very sorry to cuss like this.\n\nBut consi...,Tampa FL,106
803,2022-03-08 16:58:38+00:00,"Turns out there was a cure for COVID, all it t...",Gibsonburg Ohio,101
2553,2022-02-17 02:21:57+00:00,JB ‰∏çÂÖÅËÆ∏Áß∞‚ÄúChinese virus‚ÄùÔºåÊõæÁªèËÆ©ÂæàÂ§öÂçéË£îÊÑüÂà∞Ê∏©ÊöñÔºåÂçéË£î‰∏≠È´òËææ70%‰ª•‰∏äÁöÑ...,,92
1924,2022-02-24 14:27:26+00:00,"@TheOnion ""My Manly Potency Protects Me From T...","London, UK",90
528,2022-03-11 15:21:56+00:00,#Bengaluru After a long time (thanks to the #C...,"Bengaluru, India",87
1380,2022-03-01 15:29:00+00:00,'Early in the corona era the historian David S...,London,76

In [59]:
# tweets_df1.loc[np.random.randint(len(tweets_df1)),'Content']
tweets_df1.loc[994,'Content']

'Remember: Don\'t call it "the Chinese virus." https://t.co/FPWtqgIheo'

In [9]:
## Output example1 csv
tweets_df1.to_csv('eg1.csv')

### Example 2

In this example, we scrape tweets that contains keywords in the phrase **let's go duke** around the date of a basketball match. We save the scraped tweets with its posted date `tweet.date`, text content `tweet.content`, and the user's location `tweet.user.location` into a dataframe.

In [5]:
# create a list to append twitter data to
tweets_list2 = []

# use TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('let\'s go duke since:2021-11-12 until:2021-11-13').get_items()):
    tweets_list2.append([tweet.date, tweet.content, tweet.user.location])

In [6]:
# create a dataframe to view the result
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Date', 'Content', 'User\'s location'])
tweets_df2

,Date,Content,User's location
0,2021-11-12 23:59:21+00:00,Let's go Duke ü§ò,My Own Personal Hell
1,2021-11-12 23:58:46+00:00,Roach\nKeels\nMoore\nBanchero\nWilliams\n\nGra...,
2,2021-11-12 23:57:29+00:00,üëèüèª Let‚Äôs üëèüèª Go ‚úäüèª Duke! üîµüòà https://t.co/H589Xp...,"Germantown, MD"
3,2021-11-12 23:56:40+00:00,Let‚Äôs go Duke!! #BeatArmy,#SI6HTS
4,2021-11-12 23:55:37+00:00,LET‚ÄôS GO DUKE!!! One last ride against where t...,"Raleigh, NC"
5,2021-11-12 23:54:42+00:00,Let‚Äôs Go Dukeüëø https://t.co/beTdrGHzXW,
6,2021-11-12 23:53:25+00:00,Let‚Äôs go Duke!!! üíôüòàüèÄ,
7,2021-11-12 23:51:58+00:00,LET‚ÄôS GO DUKE üòà,252
8,2021-11-12 23:51:13+00:00,Gametime baby let's go Duke https://t.co/lmXSV...,"San Antonio, TX"
9,2021-11-12 23:48:41+00:00,@DukeMBB Let's Go Duke!!! #HereComesDuke,
10,2021-11-12 23:48:02+00:00,It‚Äôs almost game time Let‚Äôs Go Duke #DukeNation,"Tampa, FL"
11,2021-11-12 23:47:43+00:00,@dukepbp @DukeMBB @ReedsJewelers @DukeATHLETIC...,Harrisburg PA
12,2021-11-12 23:28:17+00:00,@DukeMBB üî•üî•let‚Äôs go duke,Uptown Dc
13,2021-11-12 23:26:28+00:00,@DerrickWalkerJ2 Let's go ACC. Looking forward...,"Fort Lauderdale, FL"
14,2021-11-12 23:25:53+00:00,let‚Äôs go duke,RGF Island
15,2021-11-12 23:25:14+00:00,Soooooo Nice to be back in Cameron !!!!! Let‚Äôs...,"Durham, NC"
16,2021-11-12 23:24:31+00:00,Let‚Äôs Go Duke,North KaK
17,2021-11-12 22:52:40+00:00,@GameDayCharlie @ABC11_WTVD @DukeMBB Let's go ...,The Greater Triangle Area
18,2021-11-12 22:34:52+00:00,GAME DAY !!! #HereComesDuke !!!\nüèÄüèÄüèÄ‚Ä¶vs Army\n...,Harrisburg PA
19,2021-11-12 22:07:10+00:00,We Have An All New Wwe Smackdown And An All Ae...,
20,2021-11-12 21:47:08+00:00,@DukeWBB Let's go duke!!!!,in my right mind :)
21,2021-11-12 21:44:02+00:00,@JCrossover @Pp_doesit Me and Paolo B day twin...,206üìç
22,2021-11-12 21:37:59+00:00,Let‚Äôs go Duke !,
23,2021-11-12 21:03:02+00:00,Duke will be wearing their gray/gold/blue jers...,‚ú®Illinois ‚ú®
24,2021-11-12 19:15:46+00:00,@DukeMBB Let‚Äôs GO DUKE !!!,Harrisburg PA
25,2021-11-12 17:39:22+00:00,So stoked to get this Veterans Tribute Showcas...,
26,2021-11-12 16:53:51+00:00,Let‚Äôs Go Duke! #Gameday,
27,2021-11-12 16:46:14+00:00,@sobberatduke @DukeMBB Let‚Äôs go Duke!,"Dallas, TX"
28,2021-11-12 16:01:21+00:00,Same tournament 2 years ago and still playing ...,"Atlanta, GA"
29,2021-11-12 15:56:33+00:00,Let‚Äôs go Duke! https://t.co/dQvVu3wGe8,
30,2021-11-12 15:35:46+00:00,Girls‚Äô Diving\nState\nKalina‚Äôs first dive!\nGr...,"Elmhurst, IL"
31,2021-11-12 15:34:19+00:00,Let‚Äôs go @DaytonWBB‚ÄºÔ∏è\n\nBe sure to show up to...,"Dayton, OH"
32,2021-11-12 15:33:14+00:00,Let‚Äôs go Duke! https://t.co/FaXmZIXuO0,
33,2021-11-12 15:05:30+00:00,"Duke bound! Here we come, Cameron. Thank you ...",
34,2021-11-12 14:55:16+00:00,Happy Birthday Paolo üòàüòàüíôüíô Let‚Äôs go Duke #GameD...,"Tampa, FL"
35,2021-11-12 14:14:24+00:00,üîµ Gameday! Let's Go Duke! üîµ\n\nüèÜ Veterans Day ...,"Durham, NC"
36,2021-11-12 14:01:05+00:00,@Zlanier21 @sarahlongthorne Dukes up. SJ let‚Äôs...,"Seattle, Washington, USA"
37,2021-11-12 13:57:25+00:00,@Duke_kanbai_ @Eghyofbenin I think I need to s...,iCONs Republic
38,2021-11-12 13:24:21+00:00,It‚Äôs game day! \n\nLet‚Äôs go Duke!,Vincent Ohio
39,2021-11-12 12:30:54+00:00,@DukeMBB @UpdateDuke @DukeDigest @dukepbp @duk...,World Wide
40,2021-11-12 07:54:04+00:00,@Qu3stion_84 @DukeOfSexy @rainboom16 @HimuraHi...,
41,2021-11-12 02:03:14+00:00,Happy Veterans Day!! First game in Cameron tom...,Cameron Indoor Stadium
42,2021-11-12 00:29:59+00:00,@TylerMeinerding Kenny Anderson throwback is ü§Æ...,

In [10]:
## Output example1 csv
tweets_df2.to_csv('eg2.csv')

## 3. Scrape tweets from a specific user

### Example 3

In this example, we scrape the latest 100 tweets posted by the Twitter user **@DukeKunshan**. We save the scraped tweets with its posted date `tweet.date`, text content `tweet.content`, and username `tweet.user.username` into a dataframe.

In [7]:
# create a list to append twitter data to
tweets_list3 = []

# use TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:DukeKunshan').get_items()):
    if i >= 100:
        break
    tweets_list3.append([tweet.date, tweet.content, tweet.user.username])

In [8]:
# create a dataframe to view the result
tweets_df3 = pd.DataFrame(tweets_list3, columns=['Date', 'Content', 'Username'])
tweets_df3

,Date,Content,Username
0,2022-03-28 10:00:05+00:00,Many graduating students from DKU‚Äôs Master of ...,DukeKunshan
1,2022-03-24 01:00:05+00:00,üì¢ Starting tomorrow: Discrete Math Seminar\n\n...,DukeKunshan
2,2022-03-23 02:30:02+00:00,üì¢ Starting tomorrow: Duke Kunshan University ...,DukeKunshan
3,2022-03-16 02:00:05+00:00,üì¢ Save the date: Duke Kunshan University 2022...,DukeKunshan
4,2022-03-15 15:30:12+00:00,Check out these photos of construction progres...,DukeKunshan
...,...,...,...
95,2021-09-22 13:00:43+00:00,There‚Äôs nothing better than a good roommate at...,DukeKunshan
96,2021-09-20 03:30:02+00:00,A new art book co-edited by Duke Kunshan profe...,DukeKunshan
97,2021-09-19 01:00:10+00:00,Wishing everyone a happy Mid-Autumn Festival!\...,DukeKunshan
98,2021-09-16 07:00:05+00:00,üì¢ Starting tomorrow: DKU Career Fair | Fall 2...,DukeKunshan
99,2021-09-13 03:30:01+00:00,After Covid-19 made international travel almos...,DukeKunshan

In [11]:
tweets_df3.to_csv('eg3.csv')

## Exercise

## Here scrape all posts from 2021-10-10 to 2021-11-30 that mention 'covid modeling'

In [24]:
tweets_list_exc = []

# use TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('Covid modeling since:2021-10-10 until:2021-11-30').get_items()):
    tweets_list_exc.append([tweet.date, tweet.content, tweet.user.location])

In [25]:
tweets_df_ex = pd.DataFrame(tweets_list_exc, columns=['Date', 'Content', 'Username'])
tweets_df_ex

,Date,Content,Username
0,2021-11-29 23:42:12+00:00,New SARS-CoV-2 modeling suggests virus will re...,
1,2021-11-29 23:42:02+00:00,@medrxivpreprint New SARS-CoV-2 modeling sugge...,
2,2021-11-29 23:04:11+00:00,"Join us on Friday, Dec.3 at 2pm HST for a semi...",University of Hawai‚Äòi
3,2021-11-29 22:50:29+00:00,@ZaleskiLuke @GOP Trump failed abysmally w/ hi...,USA
4,2021-11-29 22:48:18+00:00,@Siobhan23738909 @JCWI_UK @JolyonMaugham @Bori...,the future the past never now
...,...,...,...
963,2021-10-10 16:15:54+00:00,The COVID vaccine clinic is open after he Farm...,"West Fork, AR"
964,2021-10-10 15:31:21+00:00,@BernieHancock69 @DavidStaplesYEG The same poo...,I live on Freehold Land
965,2021-10-10 05:51:59+00:00,how rude it is that i have to do a project mod...,scorpio ‚òº sag ‚òΩ cap ‚û∂
966,2021-10-10 05:15:48+00:00,Covid modeling update...\n\nWe now go live to ...,"Taranaki Region, New Zealand"
967,2021-10-10 05:00:03+00:00,#HorganTheCoward left BC as forest fires burne...,

In [ ]:
tweets_df_ex.to_csv('ex_covid_modeling.csv')

# Optional: Scraping Weibo data

If your project's topic falls in the environment of Chinese society, you may need to scrape data from [Weibo](http://www.weibo.com/) instead of Twitter. A simple, easy-to-use API can be found [here](https://github.com/dataabc/weibo-search). If you can NOT sign up for an account but want a cookie to use this API, you can e-mail me at rb347@duke.edu.