# Session 2 Scraping
- Why is scrapping useful?
- Basics of How Browser Works
- How to clean from json, 
- Wikipeadia getting back to Phylisophy
- Twitter API
- Reading Data from DataBase db

In [78]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [79]:
import re
import bs4
import requests

<p style='font-size:20px'>
Suppose that we wish to build a system that warns us when stock prices starts to go up or go down. The first thing we want to do is to scrape a website to get the data. <br>
Specifically, get data from website https://finance.yahoo.com/most-active
</p>

In [83]:
url = 'https://finance.yahoo.com/most-active'
res = requests.get(url=url)
soup = bs4.BeautifulSoup(res.text, "html.parser")

In [81]:
res

In [84]:
with open('page.html','a') as f:
    f.write(soup.prettify())

In [86]:
# print(soup.prettify())
tabl = soup.select_one('#scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table') ## Copied using Chrome Extension #scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table
# #scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table

thead = tabl.find('thead')
tbody = tabl.find('tbody')

head_lst = [hd.text for hd in thead.find_all('th')]

tab_lst = list()
for tr in tbody.find_all('tr'):
    tr_lst = list()
    for td in tr.find_all('td'):
        tr_lst.append(td.text)
    tab_lst.append(tr_lst)

In [88]:
df_stock = pd.DataFrame(tab_lst, columns=head_lst)
df_stock

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,AMD,"Advanced Micro Devices, Inc.",83.75,-0.04,-0.05%,86.467M,108.621M,135.718B,31.43,
1,NIO,NIO Inc.,22.55,-0.11,-0.49%,74.775M,71.608M,37.67B,N/A,
2,AAPL,Apple Inc.,135.35,-0.52,-0.38%,73.165M,96.051M,2.191T,22.05,
3,AMZN,"Amazon.com, Inc.",108.95,+0.27,+0.25%,58.016M,87.079M,1.109T,52.25,
4,LU,Lufax Holding Ltd,6.46,-0.36,-5.28%,48.012M,8.579M,14.766B,6.32,
5,T,AT&T Inc.,20.32,+0.36,+1.80%,45.622M,52.356M,145.471B,8.55,
6,VALE,Vale S.A.,14.48,-0.24,-1.63%,45.529M,34.345M,74.278B,3.24,
7,F,Ford Motor Company,11.48,+0.02,+0.17%,45.411M,63.517M,45.333B,4.00,
8,ITUB,Ita√∫ Unibanco Holding S.A.,4.5700,-0.0800,-1.72%,42.271M,48.817M,44.694B,8.31,
9,META,"Meta Platforms, Inc.",155.85,-1.20,-0.76%,46.804M,31.677M,421.78B,11.79,
10,PLTR,Palantir Technologies Inc.,9.01,+0.30,+3.44%,43.072M,40.255M,18.44B,N/A,
11,SWN,Southwestern Energy Company,6.86,-0.05,-0.72%,42.467M,37.093M,7.657B,N/A,
12,NVDA,NVIDIA Corporation,163.60,-2.06,-1.24%,43.664M,57.951M,407.691B,43.87,
13,MO,"Altria Group, Inc.",41.50,-4.20,-9.19%,41.715M,10.891M,75.138B,25.40,
14,CCL,Carnival Corporation & plc,9.62,+0.05,+0.52%,38.602M,39.521M,11.308B,N/A,
15,NOK,Nokia Oyj,4.6800,-0.0300,-0.64%,38.495M,32.302M,26.683B,16.14,
16,BAC,Bank of America Corporation,32.60,-0.25,-0.76%,37.494M,50.015M,262.654B,9.28,
17,OXY,Occidental Petroleum Corporation,55.77,-2.10,-3.63%,37.481M,28.509M,52.267B,8.34,
18,AAL,American Airlines Group Inc.,13.10,+0.06,+0.46%,34.102M,36.432M,8.509B,N/A,
19,RBLX,Roblox Corporation,31.12,+1.48,+4.99%,32.73M,28.876M,18.46B,N/A,
20,ENIA,Enel Am√©ricas S.A.,4.8100,0.0000,0.00%,32.43M,2.872M,10.32B,10.69,
21,NLY,"Annaly Capital Management, Inc.",6.01,+0.06,+1.01%,32.091M,33.157M,9.382B,3.40,
22,UBER,"Uber Technologies, Inc.",21.50,-0.26,-1.19%,32.298M,34.814M,42.219B,N/A,
23,TSLA,"Tesla, Inc.",708.26,-2.85,-0.40%,32.908M,28.807M,733.764B,95.71,
24,PBR,Petr√≥leo Brasileiro S.A. - Petrobras,11.45,-0.10,-0.87%,32.601M,31.185M,74.678B,2.55,

In [89]:
df_stock.dtypes

Symbol               object
Name                 object
Price (Intraday)     object
Change               object
% Change             object
Volume               object
Avg Vol (3 month)    object
Market Cap           object
PE Ratio (TTM)       object
52 Week Range        object
dtype: object

In [90]:
df_stock['Change'] = df_stock['Change'].astype(float)
df_stock['% Change'] = df_stock['% Change'].str.rstrip('%').astype('float') / 100.0
df_stock['Volume'] = df_stock['Volume'].str.rstrip('M').astype(float)
df_stock['Avg Vol (3 month)'] = df_stock['Avg Vol (3 month)'].str.rstrip('M').astype(float)
df_stock['Price (Intraday)'] = df_stock['Price (Intraday)'].astype(float)

In [91]:
df_stock.dtypes

Symbol                object
Name                  object
Price (Intraday)     float64
Change               float64
% Change             float64
Volume               float64
Avg Vol (3 month)    float64
Market Cap            object
PE Ratio (TTM)        object
52 Week Range         object
dtype: object

In [92]:
df_stock.describe()

       Price (Intraday)     Change   % Change     Volume  Avg Vol (3 month)
count         25.000000  25.000000  25.000000  25.000000          25.000000
mean          67.346000  -0.474000  -0.006524  44.728880          43.813200
std          142.267244   1.178866   0.026489  14.232608          25.687321
min            4.570000  -4.200000  -0.091900  32.091000           2.872000
25%            9.010000  -0.360000  -0.011900  34.102000          31.185000
50%           20.320000  -0.080000  -0.004900  42.271000          36.432000
75%           55.770000   0.050000   0.002500  45.622000          52.356000
max          708.260000   1.480000   0.049900  86.467000         108.621000

In [93]:
df_stock[df_stock['Change'] == df_stock['Change'].max()]

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
19,RBLX,Roblox Corporation,31.12,1.48,0.0499,32.73,28.876,18.46B,N/A,

In [94]:
df_stock[df_stock['Change'] == df_stock['Change'].min()]

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
13,MO,"Altria Group, Inc.",41.5,-4.2,-0.0919,41.715,10.891,75.138B,25.40,

## Exercise 1: Scrape the Table from Cancer Statistics
Go to the site https://www.cdc.gov/cancer/kinds.htm
Scrape the explaination for each cancer in the first cards, store it in a dictionary.

In [96]:
url = 'https://www.cdc.gov/cancer/kinds.htm'
res = requests.get(url=url)
soup = bs4.BeautifulSoup(res.text, "html.parser")

In [97]:
# 71413
tabl = soup.select_one('body > div.container.d-flex.flex-wrap.body-wrapper.bg-white > main > div:nth-child(3) > div > div:nth-child(4)') ## Copied using Chrome Extension #scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table
# #scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table

ccernms = tabl.find_all('div', {'class':'card-header'})
ccerepls = tabl.find_all('div',{'class':'card-body'})

In [101]:
{i:j for i,j in zip(range(0,10), range(10,20))}

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [102]:
dict_i =  {}
for i,j in zip(range(0,10), range(10,20)):
    dict_i[i] = j
dict_i

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [103]:
res = {elei.text : elej.text for elei, elej in zip(ccernms,ccerepls) }

In [104]:
res

{'Bladder Cancer': 'Bladder cancer risk factors include smoking, genetic mutations, and exposure to certain chemicals.\n',
 'Breast Cancer': 'Bladder cancer risk factors include smoking, genetic mutations, and exposure to certain chemicals.\n',
 'Cervical Cancer': 'Regular mammograms are the best tests doctors have to find breast cancer early. Talk to your doctor about when to start and how often to get a screening mammogram.\n',
 'Colorectal Cancer': 'Regular mammograms are the best tests doctors have to find breast cancer early. Talk to your doctor about when to start and how often to get a screening mammogram.\n',
 'Gynecologic Cancers': 'Screening tests and the HPV vaccine can help prevent cervical cancer.\n',
 'Head and Neck Cancers': 'Screening tests and the HPV vaccine can help prevent cervical cancer.\n',
 'Kidney Cancer': 'If you are 45 years old or older, get screened. Screening tests can help prevent colorectal cancer or find it early, when treatment works best.\n',
 'Liver Cancer': 'If you are 45 years old or older, get screened. Screening tests can help prevent colorectal cancer or find it early, when treatment works best.\n',
 'Lung Cancer': 'Five main types of cancer affect a woman‚Äôs reproductive organs: cervical, ovarian, uterine, vaginal, and vulvar. As a group, they are called gynecologic cancers.\n',
 'Lymphoma': 'Five main types of cancer affect a woman‚Äôs reproductive organs: cervical, ovarian, uterine, vaginal, and vulvar. As a group, they are called gynecologic cancers.\n',
 'Mesothelioma': 'Cancers of the head and neck include cancers that start in several places in the head and throat, not including brain cancers or cancers of the eye.\n',
 'Myeloma': 'Cancers of the head and neck include cancers that start in several places in the head and throat, not including brain cancers or cancers of the eye.\n',
 'Ovarian Cancer': 'Smoking is the most important risk factor for kidney and renal pelvis cancers. To lower your risk, don‚Äôt smoke, or quit if you do.\n',
 'Prostate Cancer': 'Smoking is the most important risk factor for kidney and renal pelvis cancers. To lower your risk, don‚Äôt smoke, or quit if you do.\n',
 'Skin Cancer': 'To lower your risk for liver cancer, get vaccinated against hepatitis B, get tested for hepatitis C, and avoid drinking too much alcohol.\n',
 'Thyroid Cancer': 'To lower your risk for liver cancer, get vaccinated against hepatitis B, get tested for hepatitis C, and avoid drinking too much alcohol.\n',
 'Uterine Cancer': 'Lung cancer is the leading cause of cancer death in the United States. To lower your risk, quit smoking, avoid secondhand smoke, and get your home tested for radon.\n',
 'Vaginal and Vulvar Cancers': 'Lung cancer is the leading cause of cancer death in the United States. To lower your risk, quit smoking, avoid secondhand smoke, and get your home tested for radon.\n'}

## Dynamic Loading and Writing CSV files

In [105]:
df_stock

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,AMD,"Advanced Micro Devices, Inc.",83.75,-0.04,-0.0005,86.467,108.621,135.718B,31.43,
1,NIO,NIO Inc.,22.55,-0.11,-0.0049,74.775,71.608,37.67B,N/A,
2,AAPL,Apple Inc.,135.35,-0.52,-0.0038,73.165,96.051,2.191T,22.05,
3,AMZN,"Amazon.com, Inc.",108.95,0.27,0.0025,58.016,87.079,1.109T,52.25,
4,LU,Lufax Holding Ltd,6.46,-0.36,-0.0528,48.012,8.579,14.766B,6.32,
5,T,AT&T Inc.,20.32,0.36,0.0180,45.622,52.356,145.471B,8.55,
6,VALE,Vale S.A.,14.48,-0.24,-0.0163,45.529,34.345,74.278B,3.24,
7,F,Ford Motor Company,11.48,0.02,0.0017,45.411,63.517,45.333B,4.00,
8,ITUB,Ita√∫ Unibanco Holding S.A.,4.57,-0.08,-0.0172,42.271,48.817,44.694B,8.31,
9,META,"Meta Platforms, Inc.",155.85,-1.20,-0.0076,46.804,31.677,421.78B,11.79,
10,PLTR,Palantir Technologies Inc.,9.01,0.30,0.0344,43.072,40.255,18.44B,N/A,
11,SWN,Southwestern Energy Company,6.86,-0.05,-0.0072,42.467,37.093,7.657B,N/A,
12,NVDA,NVIDIA Corporation,163.60,-2.06,-0.0124,43.664,57.951,407.691B,43.87,
13,MO,"Altria Group, Inc.",41.50,-4.20,-0.0919,41.715,10.891,75.138B,25.40,
14,CCL,Carnival Corporation & plc,9.62,0.05,0.0052,38.602,39.521,11.308B,N/A,
15,NOK,Nokia Oyj,4.68,-0.03,-0.0064,38.495,32.302,26.683B,16.14,
16,BAC,Bank of America Corporation,32.60,-0.25,-0.0076,37.494,50.015,262.654B,9.28,
17,OXY,Occidental Petroleum Corporation,55.77,-2.10,-0.0363,37.481,28.509,52.267B,8.34,
18,AAL,American Airlines Group Inc.,13.10,0.06,0.0046,34.102,36.432,8.509B,N/A,
19,RBLX,Roblox Corporation,31.12,1.48,0.0499,32.730,28.876,18.46B,N/A,
20,ENIA,Enel Am√©ricas S.A.,4.81,0.00,0.0000,32.430,2.872,10.32B,10.69,
21,NLY,"Annaly Capital Management, Inc.",6.01,0.06,0.0101,32.091,33.157,9.382B,3.40,
22,UBER,"Uber Technologies, Inc.",21.50,-0.26,-0.0119,32.298,34.814,42.219B,N/A,
23,TSLA,"Tesla, Inc.",708.26,-2.85,-0.0040,32.908,28.807,733.764B,95.71,
24,PBR,Petr√≥leo Brasileiro S.A. - Petrobras,11.45,-0.10,-0.0087,32.601,31.185,74.678B,2.55,

In [106]:
df_stock.to_csv('stocks.csv', index=False)

In [107]:
import csv

In [108]:
f = open('stocks.csv')

In [110]:
reader = csv.reader(f)

In [111]:
header = next(reader)

In [113]:
rows = []
for rw in reader:
    rows.append(rw)

In [114]:
pd.DataFrame(rows, columns=header)

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,AMD,"Advanced Micro Devices, Inc.",83.75,-0.04,-0.0005,86.467,108.621,135.718B,31.43,
1,NIO,NIO Inc.,22.55,-0.11,-0.0049,74.775,71.608,37.67B,N/A,
2,AAPL,Apple Inc.,135.35,-0.52,-0.0038,73.165,96.051,2.191T,22.05,
3,AMZN,"Amazon.com, Inc.",108.95,0.27,0.0025,58.016,87.079,1.109T,52.25,
4,LU,Lufax Holding Ltd,6.46,-0.36,-0.0528,48.012,8.579,14.766B,6.32,
5,T,AT&T Inc.,20.32,0.36,0.018000000000000002,45.622,52.356,145.471B,8.55,
6,VALE,Vale S.A.,14.48,-0.24,-0.0163,45.529,34.345,74.278B,3.24,
7,F,Ford Motor Company,11.48,0.02,0.0017000000000000001,45.411,63.517,45.333B,4.00,
8,ITUB,Ita√∫ Unibanco Holding S.A.,4.57,-0.08,-0.0172,42.271,48.817,44.694B,8.31,
9,META,"Meta Platforms, Inc.",155.85,-1.2,-0.0076,46.804,31.677,421.78B,11.79,
10,PLTR,Palantir Technologies Inc.,9.01,0.3,0.0344,43.072,40.255,18.44B,N/A,
11,SWN,Southwestern Energy Company,6.86,-0.05,-0.0072,42.467,37.093,7.657B,N/A,
12,NVDA,NVIDIA Corporation,163.6,-2.06,-0.0124,43.664,57.951,407.691B,43.87,
13,MO,"Altria Group, Inc.",41.5,-4.2,-0.0919,41.715,10.891,75.138B,25.40,
14,CCL,Carnival Corporation & plc,9.62,0.05,0.0052,38.602,39.521,11.308B,N/A,
15,NOK,Nokia Oyj,4.68,-0.03,-0.0064,38.495,32.302,26.683B,16.14,
16,BAC,Bank of America Corporation,32.6,-0.25,-0.0076,37.494,50.015,262.654B,9.28,
17,OXY,Occidental Petroleum Corporation,55.77,-2.1,-0.0363,37.481,28.509,52.267B,8.34,
18,AAL,American Airlines Group Inc.,13.1,0.06,0.0046,34.102,36.432,8.509B,N/A,
19,RBLX,Roblox Corporation,31.12,1.48,0.0499,32.73,28.876,18.46B,N/A,
20,ENIA,Enel Am√©ricas S.A.,4.81,0.0,0.0,32.43,2.872,10.32B,10.69,
21,NLY,"Annaly Capital Management, Inc.",6.01,0.06,0.0101,32.091,33.157,9.382B,3.40,
22,UBER,"Uber Technologies, Inc.",21.5,-0.26,-0.011899999999999999,32.298,34.814,42.219B,N/A,
23,TSLA,"Tesla, Inc.",708.26,-2.85,-0.004,32.908,28.807,733.764B,95.71,
24,PBR,Petr√≥leo Brasileiro S.A. - Petrobras,11.45,-0.1,-0.0087,32.601,31.185,74.678B,2.55,

In [115]:
f.close()

In [47]:
rows = []

In [116]:
with open('stocks.csv', 'r') as f:
    reader = csv.reader(f)
    header = next(reader)
    rows = []
    for rw in reader:
        rows.append(rw)

In [118]:
pd.DataFrame(rows, columns=header)

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,AMD,"Advanced Micro Devices, Inc.",83.75,-0.04,-0.0005,86.467,108.621,135.718B,31.43,
1,NIO,NIO Inc.,22.55,-0.11,-0.0049,74.775,71.608,37.67B,N/A,
2,AAPL,Apple Inc.,135.35,-0.52,-0.0038,73.165,96.051,2.191T,22.05,
3,AMZN,"Amazon.com, Inc.",108.95,0.27,0.0025,58.016,87.079,1.109T,52.25,
4,LU,Lufax Holding Ltd,6.46,-0.36,-0.0528,48.012,8.579,14.766B,6.32,
5,T,AT&T Inc.,20.32,0.36,0.018000000000000002,45.622,52.356,145.471B,8.55,
6,VALE,Vale S.A.,14.48,-0.24,-0.0163,45.529,34.345,74.278B,3.24,
7,F,Ford Motor Company,11.48,0.02,0.0017000000000000001,45.411,63.517,45.333B,4.00,
8,ITUB,Ita√∫ Unibanco Holding S.A.,4.57,-0.08,-0.0172,42.271,48.817,44.694B,8.31,
9,META,"Meta Platforms, Inc.",155.85,-1.2,-0.0076,46.804,31.677,421.78B,11.79,
10,PLTR,Palantir Technologies Inc.,9.01,0.3,0.0344,43.072,40.255,18.44B,N/A,
11,SWN,Southwestern Energy Company,6.86,-0.05,-0.0072,42.467,37.093,7.657B,N/A,
12,NVDA,NVIDIA Corporation,163.6,-2.06,-0.0124,43.664,57.951,407.691B,43.87,
13,MO,"Altria Group, Inc.",41.5,-4.2,-0.0919,41.715,10.891,75.138B,25.40,
14,CCL,Carnival Corporation & plc,9.62,0.05,0.0052,38.602,39.521,11.308B,N/A,
15,NOK,Nokia Oyj,4.68,-0.03,-0.0064,38.495,32.302,26.683B,16.14,
16,BAC,Bank of America Corporation,32.6,-0.25,-0.0076,37.494,50.015,262.654B,9.28,
17,OXY,Occidental Petroleum Corporation,55.77,-2.1,-0.0363,37.481,28.509,52.267B,8.34,
18,AAL,American Airlines Group Inc.,13.1,0.06,0.0046,34.102,36.432,8.509B,N/A,
19,RBLX,Roblox Corporation,31.12,1.48,0.0499,32.73,28.876,18.46B,N/A,
20,ENIA,Enel Am√©ricas S.A.,4.81,0.0,0.0,32.43,2.872,10.32B,10.69,
21,NLY,"Annaly Capital Management, Inc.",6.01,0.06,0.0101,32.091,33.157,9.382B,3.40,
22,UBER,"Uber Technologies, Inc.",21.5,-0.26,-0.011899999999999999,32.298,34.814,42.219B,N/A,
23,TSLA,"Tesla, Inc.",708.26,-2.85,-0.004,32.908,28.807,733.764B,95.71,
24,PBR,Petr√≥leo Brasileiro S.A. - Petrobras,11.45,-0.1,-0.0087,32.601,31.185,74.678B,2.55,

In [119]:
def scrape_yahoo():
    url = 'https://finance.yahoo.com/most-active'
    res = requests.get(url=url)
    soup = bs4.BeautifulSoup(res.text, "html.parser")

    tabl = soup.select_one('#scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table') ## Copied using Chrome Extension #scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table
    # #scr-res-table > div.Ovx\(a\).Ovx\(h\)--print.Ovy\(h\).W\(100\%\) > table
    
    thead = tabl.find('thead')
    tbody = tabl.find('tbody')
    
    head_lst = [hd.text for hd in thead.find_all('th')]
    
    tab_lst = list()
    for tr in tbody.find_all('tr'):
        tr_lst = list()
        for td in tr.find_all('td'):
            tr_lst.append(td.text)
        tab_lst.append(tr_lst)

    return pd.DataFrame(tab_lst, columns=head_lst)

In [120]:
df_stock = scrape_yahoo()

In [121]:
stockdic = df_stock.transpose().to_dict()

In [124]:
stockdic

{0: {'Symbol': 'AMD',
  'Name': 'Advanced Micro Devices, Inc.',
  'Price (Intraday)': '83.75',
  'Change': '-0.04',
  '% Change': '-0.05%',
  'Volume': '86.467M',
  'Avg Vol (3 month)': '108.621M',
  'Market Cap': '135.718B',
  'PE Ratio (TTM)': '31.43',
  '52 Week Range': ''},
 1: {'Symbol': 'NIO',
  'Name': 'NIO Inc.',
  'Price (Intraday)': '22.55',
  'Change': '-0.11',
  '% Change': '-0.49%',
  'Volume': '74.775M',
  'Avg Vol (3 month)': '71.608M',
  'Market Cap': '37.67B',
  'PE Ratio (TTM)': 'N/A',
  '52 Week Range': ''},
 2: {'Symbol': 'AAPL',
  'Name': 'Apple Inc.',
  'Price (Intraday)': '135.35',
  'Change': '-0.52',
  '% Change': '-0.38%',
  'Volume': '73.165M',
  'Avg Vol (3 month)': '96.051M',
  'Market Cap': '2.191T',
  'PE Ratio (TTM)': '22.05',
  '52 Week Range': ''},
 3: {'Symbol': 'AMZN',
  'Name': 'Amazon.com, Inc.',
  'Price (Intraday)': '108.95',
  'Change': '+0.27',
  '% Change': '+0.25%',
  'Volume': '58.016M',
  'Avg Vol (3 month)': '87.079M',
  'Market Cap': '1.109T',
  'PE Ratio (TTM)': '52.25',
  '52 Week Range': ''},
 4: {'Symbol': 'LU',
  'Name': 'Lufax Holding Ltd',
  'Price (Intraday)': '6.46',
  'Change': '-0.36',
  '% Change': '-5.28%',
  'Volume': '48.012M',
  'Avg Vol (3 month)': '8.579M',
  'Market Cap': '14.766B',
  'PE Ratio (TTM)': '6.32',
  '52 Week Range': ''},
 5: {'Symbol': 'T',
  'Name': 'AT&T Inc.',
  'Price (Intraday)': '20.32',
  'Change': '+0.36',
  '% Change': '+1.80%',
  'Volume': '45.622M',
  'Avg Vol (3 month)': '52.356M',
  'Market Cap': '145.471B',
  'PE Ratio (TTM)': '8.55',
  '52 Week Range': ''},
 6: {'Symbol': 'VALE',
  'Name': 'Vale S.A.',
  'Price (Intraday)': '14.48',
  'Change': '-0.24',
  '% Change': '-1.63%',
  'Volume': '45.529M',
  'Avg Vol (3 month)': '34.345M',
  'Market Cap': '74.278B',
  'PE Ratio (TTM)': '3.24',
  '52 Week Range': ''},
 7: {'Symbol': 'F',
  'Name': 'Ford Motor Company',
  'Price (Intraday)': '11.48',
  'Change': '+0.02',
  '% Change': '+0.17%',
  'Volume': '45.411M',
  'Avg Vol (3 month)': '63.517M',
  'Market Cap': '45.333B',
  'PE Ratio (TTM)': '4.00',
  '52 Week Range': ''},
 8: {'Symbol': 'ITUB',
  'Name': 'Ita√∫ Unibanco Holding S.A.',
  'Price (Intraday)': '4.5700',
  'Change': '-0.0800',
  '% Change': '-1.72%',
  'Volume': '42.271M',
  'Avg Vol (3 month)': '48.817M',
  'Market Cap': '44.694B',
  'PE Ratio (TTM)': '8.31',
  '52 Week Range': ''},
 9: {'Symbol': 'META',
  'Name': 'Meta Platforms, Inc.',
  'Price (Intraday)': '155.85',
  'Change': '-1.20',
  '% Change': '-0.76%',
  'Volume': '46.804M',
  'Avg Vol (3 month)': '31.677M',
  'Market Cap': '421.78B',
  'PE Ratio (TTM)': '11.79',
  '52 Week Range': ''},
 10: {'Symbol': 'PLTR',
  'Name': 'Palantir Technologies Inc.',
  'Price (Intraday)': '9.01',
  'Change': '+0.30',
  '% Change': '+3.44%',
  'Volume': '43.072M',
  'Avg Vol (3 month)': '40.255M',
  'Market Cap': '18.44B',
  'PE Ratio (TTM)': 'N/A',
  '52 Week Range': ''},
 11: {'Symbol': 'SWN',
  'Name': 'Southwestern Energy Company',
  'Price (Intraday)': '6.86',
  'Change': '-0.05',
  '% Change': '-0.72%',
  'Volume': '42.467M',
  'Avg Vol (3 month)': '37.093M',
  'Market Cap': '7.657B',
  'PE Ratio (TTM)': 'N/A',
  '52 Week Range': ''},
 12: {'Symbol': 'NVDA',
  'Name': 'NVIDIA Corporation',
  'Price (Intraday)': '163.60',
  'Change': '-2.06',
  '% Change': '-1.24%',
  'Volume': '43.664M',
  'Avg Vol (3 month)': '57.951M',
  'Market Cap': '407.691B',
  'PE Ratio (TTM)': '43.87',
  '52 Week Range': ''},
 13: {'Symbol': 'MO',
  'Name': 'Altria Group, Inc.',
  'Price (Intraday)': '41.50',
  'Change': '-4.20',
  '% Change': '-9.19%',
  'Volume': '41.715M',
  'Avg Vol (3 month)': '10.891M',
  'Market Cap': '75.138B',
  'PE Ratio (TTM)': '25.40',
  '52 Week Range': ''},
 14: {'Symbol': 'CCL',
  'Name': 'Carnival Corporation & plc',
  'Price (Intraday)': '9.62',
  'Change': '+0.05',
  '% Change': '+0.52%',
  'Volume': '38.602M',
  'Avg Vol (3 month)': '39.521M',
  'Market Cap': '11.308B',
  'PE Ratio (TTM)': 'N/A',
  '52 Week Range': ''},
 15: {'Symbol': 'NOK',
  'Name': 'Nokia Oyj',
  'Price (Intraday)': '4.6800',
  'Change': '-0.0300',
  '% Change': '-0.64%',
  'Volume': '38.495M',
  'Avg Vol (3 month)': '32.302M',
  'Market Cap': '26.683B',
  'PE Ratio (TTM)': '16.14',
  '52 Week Range': ''},
 16: {'Symbol': 'BAC',
  'Name': 'Bank of America Corporation',
  'Price (Intraday)': '32.60',
  'Change': '-0.25',
  '% Change': '-0.76%',
  'Volume': '37.494M',
  'Avg Vol (3 month)': '50.015M',
  'Market Cap': '262.654B',
  'PE Ratio (TTM)': '9.28',
  '52 Week Range': ''},
 17: {'Symbol': 'OXY',
  'Name': 'Occidental Petroleum Corporation',
  'Price (Intraday)': '55.77',
  'Change': '-2.10',
  '% Change': '-3.63%',
  'Volume': '37.481M',
  'Avg Vol (3 month)': '28.509M',
  'Market Cap': '52.267B',
  'PE Ratio (TTM)': '8.34',
  '52 Week Range': ''},
 18: {'Symbol': 'AAL',
  'Name': 'American Airlines Group Inc.',
  'Price (Intraday)': '13.10',
  'Change': '+0.06',
  '% Change': '+0.46%',
  'Volume': '34.102M',
  'Avg Vol (3 month)': '36.432M',
  'Market Cap': '8.509B',
  'PE Ratio (TTM)': 'N/A',
  '52 Week Range': ''},
 19: {'Symbol': 'RBLX',
  'Name': 'Roblox Corporation',
  'Price (Intraday)': '31.12',
  'Change': '+1.48',
  '% Change': '+4.99%',
  'Volume': '32.73M',
  'Avg Vol (3 month)': '28.876M',
  'Market Cap': '18.46B',
  'PE Ratio (TTM)': 'N/A',
  '52 Week Range': ''},
 20: {'Symbol': 'ENIA',
  'Name': 'Enel Am√©ricas S.A.',
  'Price (Intraday)': '4.8100',
  'Change': '0.0000',
  '% Change': '0.00%',
  'Volume': '32.43M',
  'Avg Vol (3 month)': '2.872M',
  'Market Cap': '10.32B',
  'PE Ratio (TTM)': '10.69',
  '52 Week Range': ''},
 21: {'Symbol': 'NLY',
  'Name': 'Annaly Capital Management, Inc.',
  'Price (Intraday)': '6.01',
  'Change': '+0.06',
  '% Change': '+1.01%',
  'Volume': '32.091M',
  'Avg Vol (3 month)': '33.157M',
  'Market Cap': '9.382B',
  'PE Ratio (TTM)': '3.40',
  '52 Week Range': ''},
 22: {'Symbol': 'UBER',
  'Name': 'Uber Technologies, Inc.',
  'Price (Intraday)': '21.50',
  'Change': '-0.26',
  '% Change': '-1.19%',
  'Volume': '32.298M',
  'Avg Vol (3 month)': '34.814M',
  'Market Cap': '42.219B',
  'PE Ratio (TTM)': 'N/A',
  '52 Week Range': ''},
 23: {'Symbol': 'TSLA',
  'Name': 'Tesla, Inc.',
  'Price (Intraday)': '708.26',
  'Change': '-2.85',
  '% Change': '-0.40%',
  'Volume': '32.908M',
  'Avg Vol (3 month)': '28.807M',
  'Market Cap': '733.764B',
  'PE Ratio (TTM)': '95.71',
  '52 Week Range': ''},
 24: {'Symbol': 'PBR',
  'Name': 'Petr√≥leo Brasileiro S.A. - Petrobras',
  'Price (Intraday)': '11.45',
  'Change': '-0.10',
  '% Change': '-0.87%',
  'Volume': '32.601M',
  'Avg Vol (3 month)': '31.185M',
  'Market Cap': '74.678B',
  'PE Ratio (TTM)': '2.55',
  '52 Week Range': ''}}

In [122]:
header = df_stock.columns

In [127]:
with open('stocks_appd.csv','a+') as fa:
    csvwriter = csv.DictWriter(fa, fieldnames=header)
    csvwriter.writeheader()
    for key, dic_i in stockdic.items():
        csvwriter.writerow(dic_i)

## Wikipedia Game

### 3. Snscrape
Snscrape provides many useful attributes available through snscrape Twitter object [(Beck, 2020)](https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af). You might need some of the above attributes when scraping data for your group projects.
* url: Permalink pointing to tweet location
* date: The date on which the tweet was created
* content: The text content of the tweet
* id: The id of the tweet
* user: User object containing the following data: username, displayname, id, description, descriptionUrls, verified, created, followersCount, friendsCount, statusesCount, favouritesCount, listedCount, location, protected, linkUrl, profileImageUrl, profileBannerUrl
* replyCount: The count of replies
* retweetCount: The count of retweets
* likeCount: The count of likes
* quoteCount: The count of users that quoted the tweet and replied
* conversationId: Appears to be the same as tweet id
* lang: Machine generated, assumed language of the tweet
* source: Where tweet was posted from (e.g., iPhone, Andriod, etc.)
* retweetedTweet: The id of the original tweet (if it is a retweet)
* mentionedUsers: The user objects of any mentioned user in the tweet

In [128]:
import snscrape.modules.twitter as sntwitter
from tqdm import tqdm

In [129]:
tweets_list2 = []

# use TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('let\'s go duke since:2021-11-12 until:2021-11-13').get_items()):
    tweets_list2.append([tweet.date, tweet.content, tweet.user.location])

In [130]:
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Date', 'Content', 'User\'s location'])
tweets_df2

,Date,Content,User's location
0,2021-11-12 23:59:21+00:00,Let's go Duke ü§ò,My Own Personal Hell
1,2021-11-12 23:58:46+00:00,Roach\nKeels\nMoore\nBanchero\nWilliams\n\nGra...,
2,2021-11-12 23:57:29+00:00,üëèüèª Let‚Äôs üëèüèª Go ‚úäüèª Duke! üîµüòà https://t.co/H589Xp...,"Germantown, MD"
3,2021-11-12 23:56:40+00:00,Let‚Äôs go Duke!! #BeatArmy,#SI6HTS
4,2021-11-12 23:55:37+00:00,LET‚ÄôS GO DUKE!!! One last ride against where t...,"Raleigh, NC"
5,2021-11-12 23:54:42+00:00,Let‚Äôs Go Dukeüëø https://t.co/beTdrGHzXW,
6,2021-11-12 23:53:25+00:00,Let‚Äôs go Duke!!! üíôüòàüèÄ,
7,2021-11-12 23:51:58+00:00,LET‚ÄôS GO DUKE üòà,252
8,2021-11-12 23:51:13+00:00,Gametime baby let's go Duke https://t.co/lmXSV...,"San Antonio, TX"
9,2021-11-12 23:48:02+00:00,It‚Äôs almost game time Let‚Äôs Go Duke #DukeNation,"Atlanta, GA"
10,2021-11-12 23:47:03+00:00,Respect all fear none. Let‚Äôs Go Duke!!!,
11,2021-11-12 23:28:17+00:00,@DukeMBB üî•üî•let‚Äôs go duke,Uptown Dc
12,2021-11-12 23:26:28+00:00,@DerrickWalkerJ2 Let's go ACC. Looking forward...,"Fort Lauderdale, FL"
13,2021-11-12 23:25:53+00:00,let‚Äôs go duke,RGF Island
14,2021-11-12 23:25:14+00:00,Soooooo Nice to be back in Cameron !!!!! Let‚Äôs...,"Durham, NC"
15,2021-11-12 23:24:31+00:00,Let‚Äôs Go Duke,North KaK
16,2021-11-12 22:52:40+00:00,@GameDayCharlie @ABC11_WTVD @DukeMBB Let's go ...,The Greater Triangle Area
17,2021-11-12 22:27:51+00:00,Gameday. Let‚Äôs Go DUKE https://t.co/SEEBlWuNyY,
18,2021-11-12 22:07:10+00:00,We Have An All New Wwe Smackdown And An All Ae...,
19,2021-11-12 21:47:08+00:00,@DukeWBB Let's go duke!!!!,in my right mind :)
20,2021-11-12 21:44:02+00:00,@JCrossover @Pp_doesit Me and Paolo B day twin...,206üìç
21,2021-11-12 21:37:59+00:00,Let‚Äôs go Duke !,
22,2021-11-12 21:03:02+00:00,Duke will be wearing their gray/gold/blue jers...,‚ú®Illinois ‚ú®
23,2021-11-12 17:39:22+00:00,So stoked to get this Veterans Tribute Showcas...,
24,2021-11-12 16:53:51+00:00,Let‚Äôs Go Duke! #Gameday,
25,2021-11-12 16:46:14+00:00,@sobberatduke @DukeMBB Let‚Äôs go Duke!,"Dallas, TX"
26,2021-11-12 16:01:21+00:00,Same tournament 2 years ago and still playing ...,"Atlanta, GA"
27,2021-11-12 15:56:33+00:00,Let‚Äôs go Duke! https://t.co/dQvVu3wGe8,
28,2021-11-12 15:35:46+00:00,Girls‚Äô Diving\nState\nKalina‚Äôs first dive!\nGr...,"Elmhurst, IL"
29,2021-11-12 15:34:19+00:00,Let‚Äôs go @DaytonWBB‚ÄºÔ∏è\n\nBe sure to show up to...,"Dayton, OH"
30,2021-11-12 15:33:14+00:00,Let‚Äôs go Duke! https://t.co/FaXmZIXuO0,
31,2021-11-12 15:05:30+00:00,"Duke bound! Here we come, Cameron. Thank you ...",
32,2021-11-12 14:55:16+00:00,Happy Birthday Paolo üòàüòàüíôüíô Let‚Äôs go Duke #GameD...,"Atlanta, GA"
33,2021-11-12 14:14:24+00:00,üîµ Gameday! Let's Go Duke! üîµ\n\nüèÜ Veterans Day ...,"Durham, NC"
34,2021-11-12 14:01:05+00:00,@Zlanier21 @sarahlongthorne Dukes up. SJ let‚Äôs...,"Seattle, Washington, USA"
35,2021-11-12 13:57:25+00:00,@Duke_kanbai_ @Eghyofbenin I think I need to s...,iCONs Republic
36,2021-11-12 13:24:21+00:00,It‚Äôs game day! \n\nLet‚Äôs go Duke!,Vincent Ohio
37,2021-11-12 12:30:54+00:00,@DukeMBB @UpdateDuke @DukeDigest @dukepbp @duk...,World Wide
38,2021-11-12 07:54:04+00:00,@Qu3stion_84 @DukeOfSexy @rainboom16 @HimuraHi...,
39,2021-11-12 02:03:14+00:00,Happy Veterans Day!! First game in Cameron tom...,Cameron Indoor Stadium
40,2021-11-12 00:29:59+00:00,@TylerMeinerding Kenny Anderson throwback is ü§Æ...,

### Exercise 3: Scrape twitter related to cancer